/.DS_Store
.mdb
practica1escenario1/data/certificates/dhparam.pem
practica1escenario1/data/certificates/oblivion.com.ca.crt
practica1escenario1/data/certificates/server.crt
practica1escenario1/data/certificates/server.key
practica1escenario1/data/slapd/config/cn=config.ldif
practica1escenario1/data/slapd/config/docker-openldap-was-admin-password-set
practica1escenario1/data/slapd/config/docker-openldap-was-started-with-tls
practica1escenario1/data/slapd/config/cn=config/cn=module{0}.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema.ldif
practica1escenario1/data/slapd/config/cn=config/olcDatabase={-1}frontend.ldif
practica1escenario1/data/slapd/config/cn=config/olcDatabase={0}config.ldif
practica1escenario1/data/slapd/config/cn=config/olcDatabase={1}mdb.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={0}core.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={1}cosine.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={2}nis.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={3}inetorgperson.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={4}ppolicy.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={5}kopano.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={6}openssh-lpk.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={7}postfix-book.ldif
practica1escenario1/data/slapd/config/cn=config/cn=schema/cn={8}samba.ldif
practica1escenario1/data/slapd/config/cn=config/olcDatabase={1}mdb/olcOverlay={0}memberof.ldif
practica1escenario1/data/slapd/config/cn=config/olcDatabase={1}mdb/olcOverlay={1}refint.ldif
practica1escenario1/data/slapd/database/data.mdb
practica1escenario1/data/slapd/database/lock.mdb
practica1escenario2/data/certificates/dhparam.pem
practica1escenario2/data/certificates/oblivion.com.ca.crt
practica1escenario2/data/certificates/server.crt
practica1escenario2/data/certificates/server.key
practica1escenario2/data/slapd/config/cn=config.ldif
practica1escenario2/data/slapd/config/docker-openldap-was-admin-password-set
practica1escenario2/data/slapd/config/docker-openldap-was-started-with-tls
practica1escenario2/data/slapd/database/data.mdb
practica1escenario2/data/slapd/database/lock.mdb
